<h3>Create Account below to get started!</h3>

<%= form_with url: '/users/new', method: :post, local: :true do |form|%>
  <p><%= form.label :first_name%>
  <%= form.text_field :first_name %></p>

  <p><%= form.label :last_name%>
  <%= form.text_field :last_name %></p>

  <p><%= form.label :email%>
  <%= form.text_field :email %></p>

  <p><%= form.label :password %>
  <%= form.password_field :password %></p>

  <p><%=form.label :password_confirmation %>
  <%=form.password_field :password_confirmation %></p>

  <p><%= form.label :phone_number %>
  <%= form.telephone_field :phone_number %></p>

  <p><%= form.label :birthday %>
  <%= form.date_field :birthday %></p>
  
<div class='address'>
    <%=form.fields_for :address do |a| %>
        <div class="street">
            <label>Street address </label>
            <%= a.text_field :street_address, id: :street_address %>
        </div>
        <div class="city">
            <label>City </label>
            <%= a.text_field :city, id: :city %>
        </div>
        <div class="state">
            <label>State </label>
            <%=a .text_field :state, id: :state %>
        </div>

        <div class="zip_code">
            <label>Zip </label>
            <%= a.number_field :zip_code, id: :zip_code %>
        </div>
</div>
<%end%>  

  <p><%= form.submit "Submit"%></p>
<%end%>